/**BASE STYLE**/
body{
	font-family: 'Montserrat', sans-serif;
	padding:0px 20px;
	width:1240px;
}

/**GRID**/
.full-width, .bottom_section{
	clear:both;
	margin: 0 auto;
	width:1200px;
}

.half-width{
	float: left;
	width: 600px;
}


/**HEADER**/
header.full-width #top{
	height: 110px;
}

header h1{
	color: #bbc085;
	font-size: 30px;
	font-weight:bold;
	padding: 40px 0px 50px 0px;
	text-transform:uppercase;
}

nav{
	float:right;
	padding: 50px 0px;
}

header h1 span{
	color:black;
	font-weight:boldest;
	}
	
header ul li{
	display: inline-block;
}

nav ul li a {
	color:#77a466;
	font-size: 14px;
	font-weight:bold;
	padding-left:23px;
	text-transform:uppercase;
	text-decoration:none;
}	
#food-img{
	border-top: 3px solid #77a466;
	border-bottom: 3px solid #77a466;

}
#about  h2, #about  p{
	margin: 30px 0px;
}

#about h2, .menu h4, .review h4, .contact h4 {
	clear:both;
	text-transform:uppercase;
}

#about h2{
	color:#77a466;
	font-size: 20px;
	font-weight:bold;
}

#about p{
	font-size:16px;
	line-height:30px;
	padding: 0px 20px 0px 0px; 
}

.bottom_section{
	border-top: 1px solid lightgrey;
	margin: 0px 0px 0px 20px;
}

.menu{
	float: left;
	width: 359px;
}


.menu h4, .review h4, .contact h4 {
	font-size: 14px;
	font-weight: boldest;
}

.menu p, .review p, .contact p {
	font-size: 17px;
}

.bottom_section .menu p span{
	color: #77a466;
}

.review{
	border-left: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	float: left;
	width: 359px;
	padding: 0px 20px 0px 20px
}

.contact{
	float: left;
	line-height: 25px;
	width: 359px;
	padding: 0px 20px 0px 20px
}


.powered_by{
	clear:both;
	text-align:center;
	font-size: 16px;
	text-transform:uppercase;
	font-weight:bold;
	padding: 10px 0px;
}

footer p span{
	color:#77a466;
	font-family: 'Cookie', cursive;
	font-size: 30px;
	font-style: italic;
	font-weight:normal;
	text-transform:lowercase;	
}
footer {
	border-top: 1px solid lightgrey;
	clear:both;
	margin: 0px 20px;
}